body{
    text-align: center;
    background-image:url("punith.jpg");
color:aliceblue(106, 124, 161);
}
a{
    color: white(50px, 60px, 70px)
}
img{
    width:256px;
    height:256px;
    border-radius:50%;
    border: 1px white(50px, 60px, 70px)

}
h1{
    font-size: 50px;
}